pccontrol/test-control.py
pccontrol/test.py
pccontrol/Podfile.lock
pccontrol/backups
**/.DS_Store
**/.theos
**/.idea
**/logs
**/packages
**/__pycache__
**/node_modules/
layout/usr/lib/python3.7/test
TLinkauto-xcode-install/
others/
frameworks/
catdesk-win32-x64.exe
xxtouch
