<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LicenseContractVersion</key>
	<integer>1</integer>
	<key>RootfullLicensePhase</key>
	<integer>5</integer>
	<key>RootfullLicenseMode</key>
	<string>observe</string>
	<key>EnforcementBehavior</key>
	<string>task_and_long_running_component_gate</string>
</dict>
</plist>
