<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LicenseEndpoint</key>
	<string>https://tlinkauto-license.tlinkauto.workers.dev</string>
	<key>LicenseKeyID</key>
	<string>tlinkauto-test-2026-01</string>
	<key>LicensePublicKeyX</key>
	<string>NxW-xzbPbNT583WwRPQOvkLaLh09hOT0JGNomDjGKtw</string>
	<key>LicensePublicKeyY</key>
	<string>f5JiZrT7FN6WXbmbBmEynMKfirb44i4S6ljQhsvVGGM</string>
	<key>LicenseEnforcementEnabled</key>
	<false/>
</dict>
</plist>
